body{
    background-color: rgb(234, 90, 0);
    padding: 25px;
    
    
}
h1{
    text-align: center;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fila1{
   display: flex;
   
   

}
.cuadros1{
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: rgb(39, 178, 210);
    margin-left: 25px;
    line-height: 25px;
    
    
    
}
.cuadros2{
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: rgb(39, 178, 210);
    margin-left: 25px;
    
   
    
}

.fila2{
   display: flex;
   flex-wrap: wrap;
   flex-direction: center;
   margin: 25px;
}

.empty {
    height: 100px;
    width: 100px;
    margin-left: 25px;
}
